/* HOME PAGE CONTENT */

.content_homepage_images h2 {
    font-family: Coolvetica;
    font-size: 30px;
    color: #682c7a;

    margin-bottom: 20px;
}

/* Home Page Images */
.empty_home_images {
    margin-left: 50px;
    color: #999999;
    margin-bottom: -20px;
}

.home_images_uploads {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
}

.home_images_uploads img {
    width: 230px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
}

.home_edit {
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.edit_home_images {
    border: none;
    outline: none;

    width: 130px;
    height: 35px;

    background-color: #682c7a;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    font-family: Coolvetica;
    font-size: 15px;
    color: #fff7ec;

    cursor: pointer;
    transition: transform 0.2s ease;
}

.edit_home_images:hover {
    transform: scale(1.05);
}

.home_images_count {
    font-family: Coolvetica;
    font-size: 15px;
    color: #682c7a;
}

/* Product Sample Images */

.content_homepage_product {
    margin-top: 20px;
}

.content_homepage_product > h2 {
    font-family: Coolvetica;
    font-size: 30px;
    color: #682c7a;

    margin-bottom: 20px;
}

.empty_sample_images {
    margin-left: 50px;
    color: #999999;
}

.product_samples_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.product_sample_main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 10px;

    border: 2px solid #682c7a;
    border-radius: 20px;

    padding: 8px;
}

.product_sample_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 160px;
}

.product_sample_container img {
    margin-top: 10px;
    height: 130px;
    width: 130px;
    object-fit: cover;

    margin-bottom: 15px;
}

.product_sample_container_name {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60px;
}

.product_sample_container_name h3 {
    font-family: Coolvetica;
    font-size: 16px;
    color: #682c7a;

    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: center;

    width: 150px;
    margin-bottom: 10px;
}

.product_sample_main_container button {
    border: #682c7a solid 2px;
    outline: none;

    width: 60px;
    height: 25px;

    background-color: #fff7ec;
    border-radius: 30px;

    font-family: Coolvetica;
    font-size: 12px;
    color: #682c7a;

    cursor: pointer;
}

.product_sample_main_container button:hover {
    background-color: #682c7a;
    transition: 0.3s ease;
    color: #fff7ec;
}

.add_sample {
    margin-top: 20px;

    border: none;
    outline: none;

    width: 130px;
    height: 35px;

    background-color: #682c7a;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    font-family: Coolvetica;
    font-size: 15px;
    color: #fff7ec;

    cursor: pointer;
    transition: transform 0.2s ease;
}

.add_sample:hover {
    transform: scale(1.05);
}

/* MODALS */

/* Home Page Edit Images */
.edit_home_images_modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.edit_home_image_modal_box {
    background: #fff7ec;
    width: 500px;
    padding: 20px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit_home_image_modal_box h3 {
    font-family: SuperDream;
    font-size: 30px;
    color: #682c7a;
}

.home_image_description {
    margin-top: 10px;

    font-family: Coolvetica;
    font-size: 13px;
    color: #682c7a;
    text-align: center;
}

.home_image_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    width: 390px;
    margin: 20px auto;
}

.image_slot {
    width: 120px;
    height: 120px;
    border: 2px solid #682c7a;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.image_slot.plus::before {
    content: "+";
    font-size: 40px;
    color: #682c7a;
}

.image_slot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.image_slot:hover {
    background-color: #dcbae6;
    transition: 0.3s ease;
}

.clear_image {
    margin-top: 10px;

    font-family: Coolvetica;
    font-size: 12px;
    color: #fff7ec;

    background-color: #c83333;
    border-radius: 30px;
    width: 60px;
    height: 25px;

    border: none;
    cursor: pointer;
}

.clear_image:hover {
    background-color: #8d0e0e;
    transition: 0.3s ease;
}

.add_home_image_slot_wrapper {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_image_counter {
    text-align: center;
    font-family: Coolvetica;
    font-size: 15px;
    color: #682c7a;
}

.home_image_actions {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.home_image_cancel {
    border: none;
    padding: 8px 14px;

    width: 90px;
    height: 35px;

    background: #999999;
    border-radius: 30px;

    font-family: Coolvetica;
    font-size: 15px;
    color: #fff7ec;

    cursor: pointer;
}

.home_image_cancel:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
}

.home_image_save {
    border: none;
    padding: 8px 14px;

    width: 90px;
    height: 35px;

    background: #682c7a;
    border-radius: 30px;

    font-family: Coolvetica;
    font-size: 15px;
    color: #fff7ec;

    cursor: pointer;
}

.home_image_save:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
}

/* ADD SAMPLE PRODUCTS */
.add_sample_modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.add_sample_modal_box {
    background: #fff7ec;
    width: 500px;
    max-width: 90%;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add_sample_modal_box h2 {
    font-family: SuperDream;
    font-size: 30px;
    color: #682c7a;
    margin: 0 auto;
}

.add_sample_description {
    font-family: Coolvetica;
    font-size: 13px;
    color: #682c7a;
    text-align: center;
}

.modal_section_title {
    font-family: Coolvetica;
    font-size: 20px;
    color: #682c7a;
}

.add_sample_modal_box > h3 {
    font-family: Coolvetica;
    font-size: 20px;
    color: #682c7a;

    margin-bottom: -10px;
}

#sampleNameInput {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: 2px solid #682c7a;
    font-size: 16px;
}

#sampleNameInput:focus {
    outline: none;
}

.sample_image_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.sample_image_slot_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.sample_image_slot {
    width: 120px;
    height: 120px;

    border-radius: 14px;
    border: 2px solid #682c7a;
    background: #fff7ec;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.sample_image_slot:hover {
    background-color: #dcbae6;
    transition: 0.3s ease;
}

.sample_image_slot.plus::before {
    content: "+";
    font-size: 42px;
    color: #682c7a;
}

.sample_image_slot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.sample_image_slot_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.sample_image_slot_wrapper button {
    font-family: Coolvetica;
    font-size: 12px;
    color: #fff7ec;

    background-color: #c83333;
    border-radius: 30px;
    width: 60px;
    height: 25px;

    border: none;
    cursor: pointer;
}

.sample_image_slot_wrapper button:hover {
    background-color: #8d0e0e;
    transition: 0.3s ease;
}

.sample_image_counter {
    font-family: Coolvetica;
    font-size: 14px;
    color: #682c7a;

    text-align: center;
}

.sample_image_actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right_sample_actions {
    display: flex;
    gap: 10px;
}

.sample_image_actions button {
    border: none;
    padding: 8px 18px;
    border-radius: 30px;
    font-family: Coolvetica;
    cursor: pointer;
}

#cancelSampleUpload {
    background: #999999;
    color: #fff7ec;

    width: 90px;
    height: 35px;
}

#cancelSampleUpload:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
}

#saveSampleUpload {
    background: #682c7a;
    color: #fff7ec;

    width: 90px;
    height: 35px;
}

#saveSampleUpload:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
}

#deleteSampleUpload {
    background: #c83333;
    color: #fff7ec;

    width: 90px;
    height: 35px;
}

#deleteSampleUpload:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
}

.sample_name_error {
    font-family: Coolvetica;
    font-size: 10px;
    color: #c83333;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 13px;
}

.sample_images_error {
    font-family: Coolvetica;
    font-size: 10px;
    color: #c83333;

    text-align: center;
    margin-top: -10px;
    margin-bottom: -10px;
}

/* Delete Confirmation */

.delete_confirm_modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.delete_confirm_box {
    background: #fff7ec;
    padding: 25px 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
}

.delete_confirm_box p {
    font-family: Coolvetica;
    font-size: 18px;
    color: #682c7a;
    margin-bottom: 20px;
}

.delete_confirm_box button {
    background-color: #c83333;
    color: #fff7ec;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-family: Coolvetica;
    font-size: 14px;

    margin-bottom: 5px;
}

.delete_confirm_box button:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
}

.delete_confirm_box small {
    display: block;
    font-family: Coolvetica;
    font-size: 12px;
    color: #c83333;
}

/* MEDIA QUERIES */

@media (max-width: 1350px) {
}
