/* Modal*/
.products_page {
    margin-top: 20px;
}

.products_page > h1 {
    font-family: Coolvetica;
    font-size: 30px;
    color: #682c7a;
    margin-bottom: 20px;
}

#products_no_items_text {
    margin-left: 50px;
    color: #999999;
    margin-bottom: 20px;
}

#products_container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

#products_add_btn {
    border: none;
    outline: none;
    width: 130px;
    height: 35px;
    background-color: #682c7a;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: Coolvetica;
    font-size: 15px;
    color: #fff7ec;
    cursor: pointer;
}

#products_add_btn:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
}

.products_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 230px;
    width: 160px;
    background-color: #fff7ec;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.products_card:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
}

.products_card_image {
    margin-top: 10px;
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 5px;
}

.products_card_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 10px;
    text-align: center;
}

.products_card_info h3 {
    font-family: Coolvetica;
    font-size: 14px;
    color: #682c7a;
    margin: 5px 0;
    word-break: break-word;
}

.products_modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.products_modal_content {
    background: #fff7ec;
    padding: 20px;
    padding-left: 30px;
    border-radius: 15px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
}

.products_modal_content h2 {
    font-family: SuperDream;
    font-size: 30px;
    color: #682c7a;

    text-align: center;
}

.products_modal_content p {
    margin-top: 10px;

    font-family: Coolvetica;
    font-size: 13px;
    color: #682c7a;
    text-align: center;

    margin-bottom: 10px;
}

.products_modal_content label {
    font-family: Coolvetica;
    font-size: 20px;
    color: #682c7a;

    margin-bottom: 15px;
}

.products_title_input {
    width: 100%;
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;

    box-sizing: border-box;
    border-radius: 30px;
    border: 2px solid #682c7a;
    font-size: 16px;

    margin-bottom: 15px;
}

.products_title_input:focus {
    outline: none;
}

/* Cover image */
#products_main_image_wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products_add_box {
    width: 120px;
    height: 120px;
    border: 2px solid #682c7a;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #682c7a;
    cursor: pointer;
    margin-bottom: 10px;
}

.products_add_box:hover {
    background-color: #dcbae6;
    transition: 0.3s ease;
}

#products_main_image_preview {
    width: 119px;
    height: 119px;
    object-fit: cover;

    border-radius: 7px;
    margin-bottom: 5px;

    border: 2px solid #682c7a;
}

.products_remove_main_image_btn {
    margin-bottom: 10px;
}

/* Price images */
.products_price_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.products_price_box_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products_price_box {
    width: 170px;
    height: 240px;

    border: 2px solid #682c7a;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    color: #682c7a;

    cursor: pointer;
    flex-shrink: 0;
    overflow: hidden;
    margin-bottom: 5px;
}

.products_price_box:hover {
    background-color: #dcbae6;
    transition: 0.3s ease;
}

.products_price_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

/* Modal actions fixed at bottom right */
/* .products_modal_actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
} */

/* Buttons */

.products_modal_actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 20px;
}

.products_modal_actions_right {
    display: flex;
    margin-left: auto;
    gap: 10px;
}

.products_button_save {
    border: none;
    padding: 8px 14px;

    width: 90px;
    height: 35px;

    background: #682c7a;
    border-radius: 30px;

    font-family: Coolvetica;
    font-size: 15px;
    color: #fff7ec;

    cursor: pointer;
}

.products_button_save:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
}

.products_button_cancel {
    border: none;
    padding: 8px 14px;

    width: 90px;
    height: 35px;

    background: #999999;
    border-radius: 30px;

    font-family: Coolvetica;
    font-size: 15px;
    color: #fff7ec;

    cursor: pointer;
}

.products_button_cancel:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
}

.products_button_delete {
    border: none;
    padding: 8px 14px;

    width: 90px !important;
    height: 35px !important;

    background: #c83333;
    border-radius: 30px;

    font-family: Coolvetica;
    font-size: 15px;
    color: #fff7ec;

    cursor: pointer;
}

.products_button_delete:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
}

.products_button_remove {
    font-family: Coolvetica;
    font-size: 12px;
    color: #fff7ec;

    background-color: #c83333;
    border-radius: 30px;
    width: 60px;
    height: 25px;

    border: none;
    cursor: pointer;
}

.products_button_remove:hover {
    background-color: #8d0e0e;
    transition: 0.3s ease;
}

/* Delete Confirmation */
.delete_products_modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.delete_products_modal_content {
    background: #fff7ec;
    padding: 25px 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
}

.delete_products_modal_content p:first-child {
    font-family: Coolvetica;
    font-size: 18px;
    color: #682c7a;
    margin-bottom: 15px;
}

.products_button_confirm_delete {
    width: 130px;
    height: 35px;

    background-color: #c83333;
    color: #fff7ec;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-family: Coolvetica;
    font-size: 14px;

    margin-bottom: 10px;
}

.products_button_confirm_delete button:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
}

.products_small_text {
    /* display: block; */
    font-family: Coolvetica;
    font-size: 12px;
    color: #c83333;
}

/* Error messages */
.products_error_message {
    color: #c83333;
    font-family: Coolvetica;
    font-size: 12px;
    display: block;
    margin-top: -5px;
}

#products_title_error {
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 15px;
}

#products_cover_error {
    text-align: center;
}

#products_prices_error {
    text-align: center;
}

/* Price Viewer Modal - A4 shape */
#products_price_viewer_modal .products_modal_content {
    width: 600px;
    height: 850px;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    overflow: hidden; /* No scroll inside viewer modal */
}

#products_price_viewer_modal img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.products_carousel_btn {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#products_prev_price_image {
    left: 10px;
}
#products_next_price_image {
    right: 10px;
}

/* ================= ANIMATION ================= */
@keyframes modalPop {
    from {
        transform: scale(0.95);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Responsive */
@media screen and (max-width: 768px) {
    .products_modal_content {
        width: 90%;
    }
    .products_add_box {
        width: 100px;
        height: 100px;
        font-size: 30px;
    }
    .products_price_box {
        width: 140px;
        height: 198px;
        font-size: 25px;
    }
    #products_main_image_preview {
        width: 100px;
        height: 100px;
    }
    #products_price_viewer_modal .products_modal_content {
        width: 90%;
        height: 80%;
    }
}
