/* FONTS */
@font-face {
    font-family: SuperDream;
    src: url(../fonts/SuperDream.ttf);
}

@font-face {
    font-family: Coolvetica;
    src: url(../fonts/Coolvetica.otf);
}

/* UNIVERSAL*/
body {
    background: #fff0da;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

.upper_body {
    flex: 1;
}