/* FOOTER */
.footer_tophalf {
    background-image: url('../../images/website_elements/footer_background.png');
    height: 240px;
    width: 100%;
    background-repeat: no-repeat;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.footer_location {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

.footer_sea_bunny {
    height: 70px;
    width: 70px;
}

.footer_label_name {
    height: 60px;
    width: 250px;
}

.location_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.location_container {
    font-family: Coolvetica;
    color: #682c7a;
}

.footer_nav_list {
    list-style: none;
    margin-left: -30px;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_nav_list a {
    text-decoration: none;
    font-family: Coolvetica;
    color: #682c7a;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 50px;
    margin-top: 30px;
}

.footer_facebook,
.footer_instagram,
.footer_email {
    display: flex;
    color: #682c7a;
    gap: 5px;
    font-family: Coolvetica;
}

.footer_facebook svg {
    height: 20px;
    width: 20px;
}

.footer_instagram svg {
    height: 20px;
    width: 20px;
}

.footer_email svg {
    height: 20px;
    width: 20px;
}

.footer_bottomhalf {
    background: #9665a5;
    height: 30px;
    font-family: Coolvetica;
    color: #fff0da;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* INTERACTIVE */

.footer_nav_list li a:hover {
    color: #fff0da;
    transition: 0.1s;
}