/* NAVIGATION BAR */
.nav_container {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 50px;
}

.label_name {
    height: 90px;
    position: absolute;
    top: -50px;
}

.nav_horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 1200px;
    height: 80px;

    background-color: #fff7ec;
    border-radius: 100px;
    padding-left: 30px;
    padding-right: 30px;

    box-shadow: 5px 5px 15px rgba(165, 165, 165, 0.3);
}

.nav_horizontal img {
    height: 50px;
}

.nav_list {
    list-style: none;
    display: flex;
    gap: 80px;
    width: 100%;
    margin-top: 20px;
}

.nav_list a {
    text-decoration: none;
    font-family: SuperDream;
    color: #682c7a;
}

/* INTERACTION */
.nav_list li a:hover {
    color: #a15fb5;
    transition: 0.2s;
}

.nav_list li {
    position: relative;
}

.nav_list li.active a::after {
    content: "★";
    font-size: 14px;
    color: #682c7a;

    position: absolute;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
}