/* NAVIGATION BAR */
.nav_container {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 50px;
}

.label_name {
    height: 90px;
    position: absolute;
    top: -50px;
}

.nav_horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 1200px;
    height: 80px;

    background-color: #fff7ec;
    border-radius: 100px;
    padding-left: 30px;
    padding-right: 30px;

    box-shadow: 5px 5px 15px rgba(165, 165, 165, 0.3);
}

.nav_horizontal img {
    height: 50px;
}

.nav_list {
    list-style: none;
    display: flex;
    gap: 80px;
    width: 100%;
    margin-top: 20px;
}

.nav_list a {
    text-decoration: none;
    font-family: SuperDream;
    color: #682c7a;
}

/* INTERACTION */
.nav_list li a:hover {
    color: #a15fb5;
    transition: 0.2s;
}

.nav_list li {
    position: relative;
}

.nav_list li.active a::after {
    content: '★';
    font-size: 14px;
    color: #682c7a;

    position: absolute;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
}

a .person_icon {
    fill: #682c7a;
    transition: fill 0.2s ease;
}

a:hover .person_icon {
    fill: #a15fb5;
}

/* NAVBAR POPUP*/
.account_trigger {
    position: relative; /* MUST be relative for absolute child */
    display: inline-block; /* make it block-like inside flex */
}

.account_popup {
    position: absolute;
    display: none;
    z-index: 1;

    display: none;
    flex-direction: column;
    justify-content: center;

    top: calc(100% + 5px);
    right: 0;
    margin-right: 145px;
    width: 150px;
    height: 100px;

    background-color: #fff7ec;
    box-shadow: 5px 5px 15px rgba(165, 165, 165, 0.3);
    border-radius: 15px;
}

.account_popup.show {
    display: flex;
}

.account_popup a,
.account_popup button {
    padding: 8px 10px;
    cursor: pointer;

    text-decoration: none;
    background: transparent;
    border: none;

    color: #682c7a;
    font-family: Coolvetica;
    width: 100%;
    display: block;
    text-align: left;
    transition: background 0.2s ease;
}

.account_popup a:hover,
.account_popup button:hover {
    background: #f0e8d8;
}

.guest_login,
.guest_signup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-left: 10px;
    padding-right: 10px;

    cursor: pointer;
    transition: background 0.2s ease;
}

.guest_login:hover,
.guest_signup:hover {
    background: #f0e8d8;
}

.guest_login svg {
    height: 30px;
    width: 30px;
}

.guest_signup svg {
    height: 25px;
    width: 25px;
}

.logout_btn {
    background: transparent;
    border: none;
    color: #682c7a;
    font-family: Coolvetica;
    padding: 8px 10px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    transition: background 0.2s ease;
}

.logout_btn:hover {
    background: #f0e8d8;
}
