.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 45px;
    margin-bottom: 100px;
}

h1{
    font-family: SuperDream;
    font-size: 40px;
    color: #682C7A;
}

.aboutus_information_container{
    display: flex;
    flex-direction: column;
}

.aboutus_label{
    height: 150px;
}

.aboutus_name_label{
    position: absolute;
    margin-top: -250px;
}

.aboutus_main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 500px;
}

.aboutus_information_container{
    position: absolute;
    z-index: -1;

    margin-top: 100px;
    height: 350px;
    width: 800px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #FFF7EC;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgba(165, 165, 165, 0.3);
}

.aboutus_text{
    font-family: Coolvetica;
    font-size: 20px;
    color: #682C7A;
    padding-left: 50px;
    padding-right: 50px;

    text-align: center;
    margin-top: 50px;
}

.aboutus_location{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
}