.header_login {
    margin-top: 40px;

    font-family: SuperDream;
    font-size: 40px;
    color: #682c7a;
    text-align: center;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
    padding-bottom: 40px;
}

.login_container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.login_container label {
    font-family: Coolvetica;
    font-size: 20px;
    color: #682c7a;

    margin-bottom: 5px;
}

.login_textbox {
    width: 350px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.12);
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;

    outline: #6b3282;
}

.login_textbox:focus {
    border: solid 2px #682c7a;
}

.login_textbox::placeholder {
    color: #a8a8a8;
}

.login_button_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.login_button {
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.12);
    background-color: #6b3282;
    color: #fff0da;
    font-family: Coolvetica;
    font-size: 17px;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        transform 0.2s ease;
}

.login_button:hover {
    background-color: #451c52;
    transform: scale(1.05);
}

.signup_redirect {
    font-family: "Coolvetica", sans-serif;
    color: #6b3282;
    text-align: center;
    margin-top: 15px;
    font-size: 0.95rem;
}

.signup_redirect a {
    text-decoration: none;
    color: #359bf4;
}

.signup_redirect a:hover {
    color: #0072d6;
    transition: 0.2s;
    text-decoration: underline;
}

.forgot_password {
    font-family: Coolvetica;
    text-align: right;
    margin-top: 5px;
    font-size: 0.9rem;
    margin-right: 10px;
}

.forgot_password a {
    color: #359bf4;
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot_password a:hover {
    color: #0072d6;
    transition: 0.2s;
    text-decoration: underline;
}

/* MOBILE RESPONSIVENESS */
@media screen and (max-width: 768px) {
    .header_login {
        font-size: 2.5rem;
        margin-bottom: 30px;
    }

    form {
        max-width: 100%;
        padding: 0 15px;
    }

    .login_button {
        width: 100%;
        padding: 12px 20px;
    }
}
