.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 45px;
    margin-bottom: 50px;
}

.header_signup{
    font-family: SuperDream;
    font-size: 40px;
    color: #682C7A;

    margin-bottom: 25px;
}

/* FORM */

.signup_firstname_container, 
.signup_lastname_container, 
.signup_email_container, 
.signup_contact_container, 
.signup_password_container,
.signup_confirmpassword_container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label{
    font-family: Coolvetica;
    font-size: 20px;
    color: #682C7A;
}

.signup_textbox{
    width: 350px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid transparent;

    box-shadow: 0 0 10px 1px rgba(0,0,0,0.12);

    padding-left: 20px;
    padding-right: 20px;

    font-size: 15px;
}

.signup_textbox::placeholder{
    color: #645868;
}

.signup_textbox:focus{
    border-color: #682C7A;
    outline: none;
    transition: 
        box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        border-color 0.3s ease;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 30px;
}

/*TERMS AND CONDITIONS*/

.tnc{
    margin-top: 20px;
    margin-bottom: 20px;

    text-align: center;
    font-family: Coolvetica;
    font-size: 16px;
    color:#682C7A;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

input[type="checkbox"]{
    height: 15px;
    width: 15px;

    accent-color: #682C7A;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, accent-color 0.2s ease-in-out;
}

input[type="checkbox"]:checked {
  transform: scale(1.1);
}

.tnc_open{
    text-decoration: none;
    color: #359BF4;
}

.tnc_open:hover{
    color: #0072d6;
    transition: 0.2s;
    text-decoration: underline;
}

/* BUTTON */

.signup_submit{
    height: 40px;
    width: 150px;
    
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 7px 4px rgba(0,0,0,0.12);

    background-color: #CBCBCB;
    color: #FFF0DA;
    font-family: Coolvetica;
    font-size: 17px;

    cursor: not-allowed;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.signup_submit.active {
    background-color: #682C7A;
    cursor: pointer;
}

.signup_submit.active:hover {
    background-color: #451c52;
    transform: scale(1.05);
}


/* ALREADY HAVE AN ACCOUNT? */

.existingaccount{
    margin-top: 20px;

    text-align: center;
    font-family: Coolvetica;
    font-size: 16px;
    color:#682C7A;
}

.existingaccount a{
    text-decoration: none;
    color: #359BF4;
}

.existingaccount a:hover{
    color: #0072d6;
    transition: 0.2s;
    text-decoration: underline;
}