.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 45px;
    margin-bottom: 50px;
}

h1{
    font-family: SuperDream;
    font-size: 40px;
    color: #682C7A;

    margin-bottom: 25px;
}

/* FORM */

.signup_firstname_container, 
.signup_lastname_container, 
.signup_email_container, 
.signup_contact_container, 
.signup_password_container,
.signup_confirmpassword_container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label{
    font-family: Coolvetica;
    size: 35px;
    color: #682C7A;
}

input{
    width: 350px;
    height: 50px;
    border-radius: 30px;
    outline: #682C7A;
    border: none;

    box-shadow: 0 0 10px 1px rgba(0,0,0,0.12);

    padding-left: 10px;
    padding-right: 10px;
}

input::placeholder{
    color: #645868;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 30px;
}

/* TERMS AND CONDITIONS */

.tnc{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;

    text-align: center;
    font-family: Coolvetica;
    font-size: 14px;
    color:#682C7A;
}

/* BUTTON */

button{
    height: 40px;
    width: 150px;
    
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 7px 4px rgba(0,0,0,0.12);

    background-color: #682C7A;
    color: #FFF0DA;
    font-family: Coolvetica;
    font-size: 17px;
}

button:hover{
    background-color: #451c52;
    transition: 0.2s;
}

/* ALREADY HAVE AN ACCOUNT? */

.existingaccount{
    margin-top: 20px;

    text-align: center;
    font-family: Coolvetica;
    font-size: 14px;
    color:#682C7A;
}

.existingaccount a{
    text-decoration: none;
    color: #359BF4;
}

.existingaccount a:hover{
    color: #1e6eb3;
    transition: 0.2s;
}